@keyframes flip {
    0% {
        transform: rotate(0);
        transform-origin: 0 0;
    }
    70% {
        transform: rotate(370deg);
        transform-origin: 60% -50%;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: 0 0;
    }
}