@keyframes flip {
    0% {
        transform: rotate(0);
        transform-origin: 0 0;
    }
    80% {
        transform: rotate(395deg);
        transform-origin: 0 50%;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: 0 0;
    }
}