@keyframes flip {
    0% {
        transform: rotate(0);
        transform-origin: 0 0;
    }
    70% {
        transform: rotate(370deg);
        transform-origin: 60% -50%;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: 0 0;
    }
}

.flip-anim {
    animation: flip 2s 1.5s;
}

@keyframes glow-shadow {
    from {box-shadow: 0 3px 3px var(--color-primary)}
    to {box-shadow: 0 3px 13px var(--color-primary)}
}