* {
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-touch-callout:none;
	/* prevent webkit from resizing text to fit */
	-webkit-text-size-adjust:none;
	/* prevent tap highlight color / shadow */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	/* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select:none;
}

/* Reset default web browser styles */
html, body, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* Set styling for html document */
html {
    background: var(--color-light);
    color: var(--color-primary-dark);
	font-family: 'Raleway', sans-serif;
}

body {
	line-height: 1;
}

button:focus {
	outline: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover {
	color: var(--color-secondary-dark);
	text-decoration: underline;
}

a:visited:hover {
	color: var(--color-secondary-dark);
	text-decoration: none;
}

a, a:visited {
	color: var(--color-primary-dark);
	text-decoration: none;
}

.current-page,
.current-page:visited,
.current-page:hover {
	color: var(--color-secondary-dark);
	text-decoration: none;
}