

/* Link to color palette */
/* https://colors.muz.li/palette/6483a1/466471/6a6fa1/64a17a/467156 */



:root {
    --color-light: #f5f5f5;
    --color-primary: #6483a1;
    --color-primary-dark: #466471;
    --color-secondary: #64a17a;
    --color-secondary-dark: #467156;
    --color-tertiary: #6a6fa1;

    --color-shadow: black;
}