/* Styling utilities */
@import './style-utilities/reset-style.css';
@import './style-utilities/animations.css';
@import './style-utilities/variables.css';

/* Reusable styling components */
@import './style-components/header.css';
@import './style-components/footer.css';
@import './style-components/card.css';
@import './style-components/button.css';


html {
    background: var(--color-light);
    color: var(--color-primary-dark);
    font-family: 'Raleway', sans-serif;
}

/* Skip repetitive content for keyboard and screen readers */
#skip a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    }

#skip a:focus {
    left: 0;
    top: 0;
    color: var(--color-light);
    padding: 3px;
    background: var(--color-secondary-dark);
    border:1px solid #990000;
    }

#page-container {
    display: grid;
    width: 100%;
    column-gap: 50px;
    grid-template-columns: 200px auto;
    row-gap: 30px;
    grid-template-areas: 
        "head  head head head"
        "title .    .    .   "
        "aside main main .   "
        "foot  foot foot foot";
}

#title {
    grid-area: title;
    margin-left: 1rem;
}

#aside {
    color: var(--color-primary);
    flex-direction: column;
    grid-area: aside;
    padding: 1.5rem;
}



#aside ul li:not(:last-child) {
    margin-bottom: 0.5rem;
}

#main {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    grid-area: main;
    flex-wrap: wrap;
    text-indent: 1.5rem;
    line-height: 1.5rem;
}

/* Media queries for responsive functionality */
@media (max-width: 850px) {
    #page-container {
        grid-template-columns: auto;
        grid-template-areas: 
            "head"
            "title"
            "aside"
            "main"
            "foot";
    }

    #header__branding {
        height: 4rem;
    }

    #aside {
        justify-content: center;
    }
}