.card {
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1em;
    margin-top: 3em;
    border-radius: 3px;
    box-shadow: 0 0 6px var(--color-shadow-light);
    transition: transform .6s ease .15s, box-shadow .6s .15s;
    user-select: none;
    position: relative;
}

.card:active {
    transform: translateY(.3em);
    box-shadow: 0 0 3px var(--color-shadow-light);
}

/* Prevent hover state styles on devices without hover */
@media (hover: hover) {
    .card:hover {
        transform: translateY(-.7em);
        box-shadow: 0 3px 10px var(--color-shadow-light);
        transition: transform .2s, box-shadow .2s;
    }

    .card__btn:hover {
        border: 1px outset var(--color-light-dark);
    }


}

.card__img {
    max-height: 12em;
}
.card__content {
    padding: 1em;
}

.card__btn {
    display: flex;
    width: 90px;
    border-radius: 3px;
    font-size: .8em;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    border: 1px outset transparent;
    text-transform: uppercase;
    padding: .5em;
    margin: 1em;

    transition: border .1s;
}


.card__btn:active {
    border: 1px inset var(--color-light-dark);
}

a.card__btn,
a.card__btn:visited,
a.card__btn:hover  {
	color: inherit;
	text-decoration: none;
}