.card {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    border-radius: 3px;
    box-shadow: 0 0 6px var(--color-shadow-light);
    transition: transform .6s ease .15s, box-shadow .6s .15s;
    user-select: none;
    position: relative;
}

.card:active {
    transform: translateY(.3rem);
    box-shadow: 0 0 3px var(--color-shadow-light);
}

@media (hover: hover) {
    .card:hover {
        transform: translateY(-.7rem);
        box-shadow: 0 3px 10px var(--color-shadow-light);
        transition: transform .2s, box-shadow .2s;
    }
}




.card__img {
    max-height: 12rem;
}
.card__content {
    padding: 1rem;
}

.card__btn {
    margin: .5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--color-primary-dark);
    border: none;
    height: 2.5rem;
    width: 50%;
    background: var(--color-light);
    cursor: pointer;
}


.card__btn:hover:active {
    border: inset;
}
.card__btn:hover {
    border: outset;
}
