@import '../style-utilities/variables.css';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    grid-area: foot;
    background: linear-gradient(
        to right,
        var(--color-tertiary-dark),
        var(--color-secondary));
    color: var(--color-light);
    box-shadow: 0 -1px 5px var(--color-shadow);
}