#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    grid-area: foot;
    background:  var(--color-secondary);
    color: var(--color-light);
    box-shadow: 0 -1px 5px var(--color-shadow);
}