@import '../style-utilities/animations.css';
@import '../style-utilities/variables.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5em;
    grid-area: head;
    background:  linear-gradient(
        150deg,
        var(--color-primary-dark),
        var(--color-tertiary-dark));
    box-shadow: 0 1px 5px var(--color-shadow);
}

.header__branding {
    margin-left: 1em;
    height: 5em;
}

